/*custom stylesheet for Rmd Doc*/

/*NOT WORKING!!!*/

table {
	color: red;
	/*border-color: red;
	border-width: 1px;*/

}
/*
table>tr>td {
	display: inline-block;
	margin: 3px;
	padding: 30px;
	text-align: center;
	border-color: black;
}
*/